{% extends 'base.html.twig' %}

{% block title %}Hello HomeController!{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

<div class="example-wrapper">
    <h1>Accueil ✅</h1>

    Les derniers articles
    {% for article in articles %}
        <h2>{{ article.title }}</h2>
        <p>{{ article.description }}</p>
        <p>Le {{ article.createdAt|date('d/m/Y H:i') }}</p>
        {{ article.author ? article.author.login : 'Anonyme' }}

    {% endfor %}

</div>
{% endblock %}
